@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}


#root {
  /* max-width: 1280px; */
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.rdt_Pagination select {
  border: solid 1px #d1d5dc !important;
  border-radius: 3px !important;
  outline: none !important;
  /* box-shadow: none !important; */
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
}



@layer components {
  .form-input {
    @apply w-full border border-gray-300 rounded-xs px-2 py-1 text-sm 
           focus:outline-none focus:ring-1 focus:ring-blue-200 placeholder-red-600;
  }
}

@layer components {
  /* Placeholder text */
  .p-multiselect .p-multiselect-label.p-placeholder {
    @apply text-gray-300;
  }

  /* Dropdown arrow */
  .p-multiselect .p-multiselect-trigger-icon {
    @apply text-gray-300 text-sm;
  }

  /* Vertically center items */
  .p-multiselect .p-multiselect-label {
    @apply flex items-center h-full text-sm;
  }

  /* Main field styling */
  .p-multiselect {
    @apply border border-gray-300  h-7 flex items-center px-2 text-sm;
  }
}



/* App.css or index.css */
.p-tabmenuitem.p-highlight .p-menuitem-link {
  font-weight: 500 !important; /* normal */
  font-size: 16px !important; /* slightly larger */
  color: #3B82F6 !important; /* blue color */ /* Tailwind's blue-700 */ 
  border-bottom: 2px solid #2563EB !important; /* underline effect */
}

.p-tabmenuitem .p-menuitem-link {
  font-weight: 500 !important; /* normal */
  font-size: 16px !important; /* slightly larger */
  color: #3B82F6 !important; /* blue color */
  
}


/* Tab navigation container - gray bottom border */
.custom-tabs .p-tabview-nav {
  border-bottom: 1px solid #e5e7eb; /* Tailwind gray-200 */
}

/* Default tab links */
.custom-tabs .p-tabview-nav li .p-tabview-nav-link {
  font-size: 0.875rem; /* 14px */
  padding: 0.8rem 0.75rem;
  color: #374151; /* Tailwind gray-700 */
  border: none; /* reset */
  border-bottom: 2px solid transparent; /* placeholder for active underline */
  background: none;
  transition: all 0.2s ease-in-out;
}

/* Active tab */
.custom-tabs .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-bottom: 2px solid #3B82F6; /* Tailwind blue-500 underline */
  color: #3B82F6;
  font-weight: 600;
}

/* Hover effect */
.custom-tabs .p-tabview-nav li .p-tabview-nav-link:hover {
  color: #2563eb; /* Tailwind blue-600 */
}
 
 
 